.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-area {
    -fx-font-family: monospace;
    -fx-font-size: 14px;
}
.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.msg-text {
    -fx-font-size: 15px;
    -fx-font-family: monospace;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
}

.msg-parent-container {
    -fx-fit-to-width: true;
    -fx-pref-height: 200px;
    //-fx-background: #2b2b2b;
}

.msg-container {
    -fx-fill-width: true;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10px;
    -fx-background-color: transparent;
}

.info-text {
    -fx-text-fill: gray;
}

.error-text {
    -fx-text-fill: firebrick;
}

.warning-text {
    -fx-text-fill: orange;
}